In [1]:
import pandas as pd
import numpy as np
def get_data_path():
    file_path = input("enter the path ")
    return file_path

def read_data(file_path):
    if file_path.endswith('.csv'):
        df = pd.read_csv(file_path)
    elif file_path.endswith('.xlsx') or file_path.endswith('.xls'):
        df = pd.read_excel(file_path)
    elif file_path.endswith('.json'):
        df = pd.read_json(file_path)
    else:
        raise ValueError(" الملف غير مدعوم. CSV، Excel، أو JSON.")
    return df

file_path = get_data_path()
df = read_data(file_path)
df

/var/folders/jk/jdbnntks12l6x7zhl91_b_7c0000gn/T/ipykernel_3492/1181491764.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [32]:

print(df.shape)
print(df.dtypes)
df.head()

(148654, 13)
Id                    int64
EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay         float64
OtherPay            float64
Benefits            float64
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status              float64
dtype: object

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [33]:
print("Data summary:")
def calculate_max_and_mean_and_mode(df):
    max_values = df.max(numeric_only=True)
    mean_values = df.mean(numeric_only=True)
    str_col= df.select_dtypes(include=['object']).columns
    mode_values = df[str_col].mode()
    return max_values,mean_values,mode_values

max_values, mean_values,mode_values= calculate_max_and_mean_and_mode(df)
print("max")
print(max_values)
print("mean")
print(mean_values)
print("mode")
print(mode_values)

Data summary:
max
Id                  148654.00
BasePay             319275.01
OvertimePay         245131.88
OtherPay            400184.25
Benefits             96570.66
TotalPay            567595.43
TotalPayBenefits    567595.43
Year                  2014.00
Notes                     NaN
Status                    NaN
dtype: float64
mean
Id                  74327.500000
BasePay             66325.448840
OvertimePay          5066.059886
OtherPay             3648.767297
Benefits            25007.893151
TotalPay            74768.321972
TotalPayBenefits    93692.554811
Year                 2012.522643
Notes                        NaN
Status                       NaN
dtype: float64
mode
  EmployeeName          JobTitle         Agency
0    Kevin Lee  Transit Operator  San Francisco

In [34]:
df.isnull().mean()

Id                  0.000000
EmployeeName        0.000000
JobTitle            0.000000
BasePay             0.004097
OvertimePay         0.000027
OtherPay            0.000027
Benefits            0.243270
TotalPay            0.000000
TotalPayBenefits    0.000000
Year                0.000000
Notes               1.000000
Agency              0.000000
Status              1.000000
dtype: float64

In [35]:
print("Delete columns that contain many missing values")
threshold =0.5
print(threshold)
columns_to_drop = df.columns[df.isnull().mean()>threshold]
df = df.drop(columns=columns_to_drop)
df

0.5

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,San Francisco
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,San Francisco
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,San Francisco
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,San Francisco
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,San Francisco
...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,San Francisco
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,San Francisco
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,San Francisco
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,San Francisco
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,San Francisco

In [47]:
print("Category Data Encoding:")
from sklearn.preprocessing import MinMaxScaler
numeric_columns = df.select_dtypes(include=['int', 'float']).columns
num_data = df[numeric_columns]
m=MinMaxScaler()
numeric_columns_tr=m.fit_transform(num_data)
df[numeric_columns] = numeric_columns_tr
df

Category Data Encoding:

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency
0,0.000000,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,0.524595,4.079437e-08,1.000000,0.259220,1.000000,1.000000,0.0,0.0
1,0.000007,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),0.488766,1.000000e+00,0.355734,0.259220,0.949515,0.949515,0.0,0.0
2,0.000013,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),0.666493,4.327800e-01,0.057733,0.259220,0.591148,0.591148,0.0,0.0
3,0.000020,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,0.244433,2.289409e-01,0.504283,0.259220,0.585980,0.585980,0.0,0.0
4,0.000027,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",0.421260,3.972151e-02,0.464816,0.259220,0.575473,0.575473,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
148649,0.999973,Roy I Tillery,Custodian,0.000520,4.079437e-08,0.017333,0.000351,0.001088,0.001088,1.0,0.0
148650,0.999980,Not provided,Not provided,0.208149,2.066671e-02,0.026292,0.259220,0.001088,0.001088,1.0,0.0
148651,0.999987,Not provided,Not provided,0.208149,2.066671e-02,0.026292,0.259220,0.001088,0.001088,1.0,0.0
148652,0.999993,Not provided,Not provided,0.208149,2.066671e-02,0.026292,0.259220,0.001088,0.001088,1.0,0.0
148653,1.000000,Joe Lopez,"Counselor, Log Cabin Ranch",0.000520,4.079437e-08,0.015815,0.000351,0.000000,0.000000,1.0,0.0

In [48]:
print("Categorical Data Encoding:")
from sklearn.preprocessing import LabelEncoder
binary_columns = [col for col in df.columns if (df[col].nunique()== 2 or df[col].nunique()< 2) and df[col].dtype == 'object']
le = LabelEncoder()
for col in binary_columns:
    df[col] = le.fit_transform(df[col])

In [43]:
print("Handling Missing Values:")
df.isna().sum()

Handling Missing Values:

Id                      0
EmployeeName            0
JobTitle                0
BasePay               609
OvertimePay             4
OtherPay                4
Benefits            36163
TotalPay                0
TotalPayBenefits        0
Year                    0
Agency                  0
dtype: int64

In [49]:
from sklearn.impute import SimpleImputer

numeric_columns = df.select_dtypes(include=['int', 'float']).columns
categorical_columns = df.select_dtypes(include=['object']).columns

numeric_imputer = SimpleImputer(strategy='mean')

categorical_imputer = SimpleImputer(strategy='most_frequent')
df[numeric_columns] = numeric_imputer.fit_transform(df[numeric_columns])
df[categorical_columns] = categorical_imputer.fit_transform(df[categorical_columns])
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency
0,0.000000,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,0.524595,4.079437e-08,1.000000,0.259220,1.000000,1.000000,0.0,0.0
1,0.000007,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),0.488766,1.000000e+00,0.355734,0.259220,0.949515,0.949515,0.0,0.0
2,0.000013,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),0.666493,4.327800e-01,0.057733,0.259220,0.591148,0.591148,0.0,0.0
3,0.000020,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,0.244433,2.289409e-01,0.504283,0.259220,0.585980,0.585980,0.0,0.0
4,0.000027,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",0.421260,3.972151e-02,0.464816,0.259220,0.575473,0.575473,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
148649,0.999973,Roy I Tillery,Custodian,0.000520,4.079437e-08,0.017333,0.000351,0.001088,0.001088,1.0,0.0
148650,0.999980,Not provided,Not provided,0.208149,2.066671e-02,0.026292,0.259220,0.001088,0.001088,1.0,0.0
148651,0.999987,Not provided,Not provided,0.208149,2.066671e-02,0.026292,0.259220,0.001088,0.001088,1.0,0.0
148652,0.999993,Not provided,Not provided,0.208149,2.066671e-02,0.026292,0.259220,0.001088,0.001088,1.0,0.0
148653,1.000000,Joe Lopez,"Counselor, Log Cabin Ranch",0.000520,4.079437e-08,0.015815,0.000351,0.000000,0.000000,1.0,0.0